h1 {
    color: rgb(41, 219, 109);
    background-color: rgb(31, 61, 183);
    
}

p {
    border: 1px solid black;
    width: 750px;
    font-size: 3rem;
}

ul {
    front-size: 3rem;
    color: green;
}

li {
    front-size: 0.25em;
    color: blue;
}
span {
    display: none;
}